* {
  margin: 0;
  padding: 0;
}

/* header */
header {
  background: url(./images/developer.png) no-repeat left;
  background-size: 90px;
}
#menu_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
#logo {
  font-size: 20px;
}
#logo_text {
  color: #fd6e0a;
}
#menu ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
#menu ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
#menu_button a {
  background: #fd6e0a;
  color: white !important;
  padding: 10px 20px;
  border-radius: 5px;
}
#banner_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: url(./images/header_bg.png) no-repeat bottom right;
}
#banner_small_title {
  font-weight: lighter;
}
#banner_large_title {
  font-weight: bold;
  font-size: 70px;
}
#banner_text {
  margin: 10px 0;
}
#banner_button {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}
#download_button {
  background: #fd6e0a;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
#contact_button {
  color: #fd6e0a;
  border: 2px solid #fd6e0a;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
#image_container {
  margin-right: -180px;
}
#image_container img {
  width: 100%;
}

/* main */
/* about_me */
#about_me {
  text-align: center;
  margin: 100px 0;
}
#about_me h1 {
  font-size: 50px;
}
#about_me p {
  margin: 20px 0;
}
#info {
  display: flex;
  gap: 25px;
  justify-content: center;
}

/* what_i_do */
#what_i_do {
  margin: 100px 0;
  text-align: center;
}
#what_i_do h1 {
  font-size: 50px;
}
#what_i_do p {
  margin: 40px 0;
}
#technology {
  display: flex;
  justify-content: center;
}
.card {
  width: 220px;
  text-align: left;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}
.card h5 {
  margin: 20px 0;
}
.card p {
  margin: 0 0 !important;
}

/* a_summary_of_my_resume */
#a_summary_of_my_resume {
  margin: 100px 0;
}
#a_summary_of_my_resume > h1 {
  text-align: center;
}
#experience,
#education {
  margin: 30px 0;
}
.resume_container {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.resume_card {
  width: 400px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
}
.resume_card:last-child {
  border-bottom: none;
}
.resume_card > p {
  margin: 10px 0;
}
#download_button2 {
  background: #fd6e0a;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  width: 122px;
  margin: 50px auto;
  display: block;
}
