* {
  margin: 0;
  padding: 0;
}

/* header */
header {
  background: url(./images/developer.png) no-repeat left;
  background-size: 90px;
}
#menu_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
#logo {
  font-size: 20px;
}
#logo_text {
  color: #fd6e0a;
}
#menu ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
#menu ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
#menu_button a {
  background: #fd6e0a;
  color: white !important;
  padding: 10px 20px;
  border-radius: 5px;
}
#banner_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: url(./images/header_bg.png) no-repeat bottom right;
}
#banner_small_title {
  font-weight: lighter;
}
#banner_large_title {
  font-weight: bold;
  font-size: 70px;
}
#banner_text {
  margin: 10px 0;
}
#banner_button {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}
#download_button {
  background: #fd6e0a;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
#contact_button {
  color: #fd6e0a;
  border: 2px solid #fd6e0a;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
#image_container {
  margin-right: -180px;
}
#image_container img {
  width: 100%;
}

/* main */
/* about_me */
#about_me {
  text-align: center;
  margin: 100px 0;
}
#about_me h1 {
  font-size: 50px;
}
#about_me p {
  margin: 20px 0;
}
#info {
  display: flex;
  gap: 25px;
  justify-content: center;
}
